
.header{
    text-align: center;

    &__title{
        font-size: 84px;
        font-family: 'Harry';
    }
    &__nav{
        text-align: center;
        
        /* @include desktop{
@media screen and (min-widdth:488px){

            display:flex;
            justify-content: space-around;
            align-items: center;
        } */

        &--li{
            background-color: var(--color-primary);
            color: var(--color-secondary);
            padding:20px;
            border-radius: 10px;
            font-size: 24px;
            margin-top: 15px;
            box-shadow: 5px 5px 0px 0px var(--color-secondary);


           
        }
    }

}
