<div class="card">
    <h2 >{{personaje.personaje}}</h2>
    <p class="card__models"><strong>Apodo</strong></p>
    <p>{{personaje.apodo}}</p>
    <p class="card__models"><strong>Interpretado por</strong></p>
    <p>{{personaje.interpretado_por}}</p>
    <div >
        <img src="{{personaje.imagen}}" class="card__img">
    </div>
    <div *ngIf="personaje.estudianteDeHogwarts">
        <p class="card__models"><strong>Casa de Hogwarts</strong></p>
        <p>{{personaje.casaDeHogwarts}}</p>
    </div>
</div>