.card{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding:20px;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 15px;
    box-shadow: 5px 5px 0px 0px var(--color-primary);
    margin: 5%;
    &__models{
        text-align: center;
        opacity: 0.5;
    } 
    &__img{
        border-radius: 10px;
        margin-bottom: 10px;
      
       
    }
    &--center{
        text-align: center;
    }
}