/* You can add global styles to this file, and also import other style files */

@import './app/styles/fonts/fonts.scss';

@import './app/styles/settings/color.settings.scss';

@import './app/styles/responsive/responsive.scss';

ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: inherit;
}

